{% extends "base_password.html" %}

{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
  <h1>Escribe tu nueva contraseña</h1>
  {% if validlink %}
    <p>Por favor, introduce tu nueva contraseña</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Recuperar cuenta</button>
    </form>
  {% else %}
    <p>El link de cambio de contraseña ya no es válido, posiblemente ya ha sido utilizado.
      Por favor, solicita un nuevo link.
    </p>
  {% endif %}
{% endblock %}