{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block titulo %}Inicio{% endblock %}

{% block content %}
<div class="container-pred">
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm justify-content-center mt-3">
      <li class="page-item active" aria-current="page">
        <span class="page-link">Inicio</span>
      </li>
      <li class="page-item"><a class="page-link" href="{% url 'home:tasks' %}">Tareas</a></li>
    </ul>
    <a href="{% url 'productos:aniadir_producto_especifico' %}" class="btn btn-primary">Añadir producto específico</a>
  </nav>
  <div class="cont inicio">
    <div class="row align-items-stretch">
      <div class="col-md-6 d-flex">
        <a href="{% url 'productos:ordenes' %}" class="text-decoration-none text-dark flex-fill">
          <section class="inicio-ordenes p-2">
              <h2>Órdenes</h2>
              <div class="info">
                <ul>
                  {% for orden in ordenes %}
                    <li>
                      {{ orden.producto }} |
                      {{ orden.cliente }} |
                      {{ orden.montador }} |
                      {{ orden.precio }} |
                      {{ orden.fecha_inicio_montaje }}
                    </li>
                    <hr>
                  {% endfor %}
                </ul>
              </div>
          </section>
        </a>
      </div>
      <div class="col-md-6 d-flex">
        <a href="{% url 'productos:visitas' %}" class="text-decoration-none text-dark flex-fill">
          <section class="inicio-visitas p-2">
            <h2>Visitas</h2>
            <div class="info">
              {% for visita in visitas %}
                <li>
                  {{ visita.producto }} |
                  {{ visita.cliente }} |
                  {{ visita.montador }} |
                  {{ visita.precio }} |
                  {{ visita.fecha_inicio_montaje }}
                </li>
                <hr>
              {% endfor %}
            </div>
          </section>
        </a>
      </div>
      <div class="col-md-6 d-flex">
        <a href="{% url 'productos:acabadas' %}" class="text-decoration-none text-dark flex-fill">
          <section class="inicio-acabadas p-2">
            <h2>Acabadas</h2>
            <div class="info">
              {% for acabada in acabadas %}
                <li>
                  {{ acabada.producto }} |
                  {{ acabada.cliente }} |
                  {{ acabada.montador }} |
                  {{ acabada.precio }} |
                  {{ acabada.fecha_inicio_montaje }}
                </li>
                <hr>
              {% endfor %}
            </div>
          </section>
        </a>
      </div>
      <div class="col-md-6 d-flex">
        <a href="{% url 'productos:seniales' %}" class="text-decoration-none text-dark flex-fill">
          <section class="inicio-seniales p-2">
            <h2>Señales</h2>
            <div class="info">
              {% for senial in seniales %}
                <li>
                  {{ senial.producto }} |
                  {{ senial.cliente }} |
                  {{ senial.montador }} |
                  {{ senial.precio }} |
                  {{ senial.fecha_inicio_montaje }}
                </li>
                <hr>
              {% endfor %}
            </div>
          </section>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
