{% extends "base.html" %}

{% block title %}Tareas{% endblock %}

{% block titulo %}Tareas{% endblock %}

{% block content %}
<div class="div-tasks">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center mt-3">
          <li class="page-item"><a class="page-link" href="{% url 'home:home' %}">Inicio</a></li>
          <li class="page-item active" aria-current="page">
            <span class="page-link">Tareas</span>
          </li>
        </ul>
    </nav>
    <nav aria-label="Page navigation example mt-4">
        <ul class="pagination pagination-sm justify-content-center mt-3">
          <li class="page-item"><a class="page-link" href="{% url 'home:tasks' %}">Pendientes</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'home:tasks_completed' %}">Completadas</a></li>
        </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col offset-md-3">
          <ul class="list-group py-5">
            {% for task in tasks %}
              <a href="{% url 'home:task_detail' task.id %}" class="list-group-item">
                <header class="header-tasks d-flex justify-content-between">
                  {% if task.important %}
                    <h3 class="fw-bold text-success">{{ task.title }}</h3>
                  {% else %}
                    <h3 class="fw-bold">{{ task.title }}</h3>
                  {% endif %}
                  <p>{{ task.user }}</p>
                </header>
                <p>{{ task.description }}</p>
                <p>{{ task.datecompleted|date:'M j Y:i' }}</p>
              </a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
</div>
{% endblock %}
