{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block titulo %}Home{% endblock %}

{% block content %}
<div class="div-tasks">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center mt-3">
          <li class="page-item"><a class="page-link" href="{% url 'home:home' %}">Inicio</a></li>
          <li class="page-item active" aria-current="page">
            <span class="page-link">Tareas</span>
          </li>
          <li class="page-item"><a class="page-link" href="#"></a></li>
        </ul>
    </nav>
    <div class="tareas">
        <h3 class="mt-3">Tareas</h3>
    </div>
</div>
{% endblock %}
