@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: .3s;
}

*:not(.modal-dialog) {
    text-decoration: none !important;
    margin: 0 !important;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.header-nav {
    background-color: #5B4A32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 10px 22px -9px rgba(0,0,0,0.6);
    z-index: 10;
}

.header-nav h2 {
    color: #ffffff !important;
}

.header-nav img:hover {
    transform: scale(.9);
}

.container-main {
    background-color: #f3f3f3;
    display: flex;
    padding: 0 !important;
}

.btn {
    transition: .2s;
}

.btn:hover {
    transform: scale(1.05);
}

/* Barra izquierda */

.div-barra {
    padding: 0 !important;
    z-index: 20 !important;
    box-shadow: 10px 0px 22px -9px rgba(0,0,0,0.6);
    background-color: #fff;
}

.sidebarra {
    background-color: #ffffff !important;
    width: max-content;
    padding: 2rem 1rem !important;
}

.sidebarra:hover .sidebar__element {
    grid-template-columns: 40px 1fr;
}

.sidebar__list {
    list-style: none;
    padding: 0;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.sidebar__element {
    padding: .8rem 1.3rem !important;
    border-radius: 3px;
    display: grid;
    align-items: center;
    grid-template-columns: 40px 0fr;
    color:  #526581;
    fill: #8491a5;
    transition: grid-template-columns .4s;
}

.sidebar__element:not(:has(.sidebar__icon--logo)):hover {
    background-color: #5B4A32;
    color: #fff;
    fill: #fff;
    cursor: pointer;
}

.sidebar__element:has(.sidebar__icon--logo) {
    margin-bottom: 1rem !important;
}

.sidebar__icon {
    width: 100%;
    overflow: hidden;
    justify-self: center;
}

.sidebar__icon--avatar {
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.sidebar__logo, .sidebar__text {
    padding-left: 1rem !important;
}

.sidebar__hide {
    overflow: hidden;
}

.sidebar__element--avatar-a {
    margin-top: auto !important;
}

.sidebar__element--avatar {
    text-wrap: nowrap;
    text-align: left;
    margin-bottom: 15px !important;
}

.sidebar__title, .sidebar__info {
    padding-left: 1rem !important;
}

/* Navbar móvil */

.navbar {
    display: none !important;
    padding: 0 !important;
}

.navbar * {
    padding: 0 !important;
}

.nav__icon--logo {
    width: 55px;
    margin: 16px !important;
}

.navbar-toggler-icon {
    background-color: #5B4A32 !important;
}

.navbar-toggler {
    border-color: #5B4A32 !important;
}

.offcanvas {
    background-color: #5B4A32 !important;
}

.nav_item {
    padding: .8rem 1.3rem !important;
    border-radius: 3px !important;
    display: grid;
    align-items: center;
    grid-template-columns: 40px 0fr;
    color:  #fff;
    fill: #fff;
}

.nav-item:hover a {
    color: #f3f3f3 !important;
}

.nav__icon--avatar {
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.nav__logo, .nav__text {
    padding-left: 1rem !important;
}

.offcanvas-title, .navbar-nav .nav-item {
    color: #fff !important;
    margin: 15px !important;
}

.nav__element--avatar-a {
    margin-top: auto !important;
}

.nav__element--avatar {
    text-wrap: nowrap;
    text-align: left;
}

.nav__title, .nav__info {
    padding-left: 1rem !important;
}

/* Section */

.section {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    max-height: 85vh;
}

.page-link {
    padding: 5px !important;
    color: #5B4A32 !important;
}

.active>.page-link, .page-link.active {
    background-color: #5B4A32 !important;
    border-color: #5B4A32 !important;
    color: #fff !important;
}

/* Inicio */

.pagination {
    margin-top: 1rem !important;
}

.inicio a {
    border: 1px solid #5b4a32;
    border-radius: 12px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: #5b4a32;
    transition: .1s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.inicio a:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.275);
    border: 1px solid #553300;
}

.inicio .info {
    box-shadow: rgba(0, 0, 0, 0.126) 0px 2px 4px 0px inset;
    border-radius: 12px;
    padding: 5px;
    margin: 4px !important;
    transition: .2s;
}

.inicio section:hover .info {
    box-shadow: rgba(0, 0, 0, 0.312) 0px 2px 4px 0px inset;
}

.inicio .info ul {
    text-align: left;
}

/* Órdenes */

.producto-pred .ordens {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
}

.producto-pred .card-producto {
    position: relative;
    width: 300px;
    height: 370px;
    transition: 0.3s ease-out;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
    margin: 10px !important;
}

.producto-pred .card-producto:hover {
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.4);
}

.producto-pred .card-producto .imgbox {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.producto-pred .card-producto .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: block;
    transition: 0.5s;
}

.producto-pred .card-producto .contenido {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    padding: 12px;
    background: #5B4A32;
    color: #ffffffde;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;
}

.producto-pred .card-producto .en-construccion {
    background: #009400;
}

.producto-pred .card-producto .enviado {
    background: #005f7f;
}

.producto-pred .card-producto .reserva {
    background: #919609;
}

.producto-pred .card-producto:hover .contenido {
    width: 100%;
    height: 85%;
    left: 0;
    bottom: 0;
    opacity: .9;
}

.producto-pred .contenido .info {
    margin: 10px 0 0;
    padding: 1em 1em;
    transform: translateY(2em);
    line-height: 1.3rem;
    transition: 0.3s;
    text-align: left;
    opacity: 0;
}

.producto-pred .card-producto:hover .contenido .info {
    transform: translateY(0);
    opacity: 1;
}

/* Producto específico */

.prod_esp {
    padding: 15px;
    gap: 5px;
}

.prod_esp > .row {
    gap: 20px;
    justify-content: center;
}

.prod_esp .prod_esp_hijo, .producto_esp {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
}

.prod_esp .prod_esp_hijo {
    max-width: 48%;
}

.prod_esp .imagen {
    display: flex;
    margin: 15px !important;
    justify-content: center;
}

.prod_esp img {
    border: 3px solid #5B4A32;
    box-shadow: 5px 5px 20px -7px #5B4A32;
    border-radius: 8px;
    padding: 1px;
    display: block;
    margin: 0 auto;
    min-width: 150px;
    min-height: 150px;
    max-width: 300px;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.prod_esp .detalles {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
}

.prod_esp .detalles .col-3  {
    width: 50%;
    text-align: left;
}

.prod_esp .detalles p {
    padding: 5px;
}

.prod_esp .detalles span {
    box-shadow: 5px 5px 15px -5px #5B4A32;
    border-radius: 5px;
    padding: 5px;
}

.prod_esp .accordion-item {
    border-radius: 8px;
    border: 1px solid black !important;
}

.prod_esp .accordion-header .accordion-button.collapsed {
    border-radius: 8px;
}

.prod_esp .accordion-flush>.accordion-item>.accordion-header 
.accordion-button, .accordion-flush>.accordion-item>.accordion-header 
.accordion-button.collapsed {
    border-radius: 8px;
    transition: .2s;
}

.prod_esp .accordion-collapse {
    transition: .2s;
}

.prod_esp .accordion-button {
    transition: .2s;
}

/* Perfil */

.perfil {
    background-color: #fff;  
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-top: 2rem !important;
}

.perfil .row {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.perfil img {
    border-radius: 50%;
    border: 3px solid #5B4A32;
    margin-bottom: 15px !important;
}

.perfil h2 {
    color: #333;
    font-size: 1.75rem;
    margin-bottom: 10px !important;
}

.perfil h3 {
    color: #555;
    font-size: 1.5rem;
    margin-bottom: 15px !important;
}

.perfil ul {
    list-style: none;
    padding: 0 !important;
}

.perfil ul li {
    font-size: 1.1rem;
    padding: 8px 0 !important;
    border-bottom: 1px solid #eee;
}

.perfil ul li strong {
    color: #333;
}

.btn {
    padding: 6px !important;
    margin-top: 12px !important;
}

/* Perfil edit */

.edit-container {
    background-color: #fff;
    padding: 30px !important;
    margin: 40px auto !important;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
  
.edit-form .form-section {
    margin-bottom: 20px !important;
    text-align: left;
}
  
.edit-form .form-section p {
    margin-bottom: 0.5rem !important;
}
  
.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px !important;
}
  
.btn-primary {
    background-color: #5B4A32;
    border-color: #5B4A32;
}
  
.btn-primary:hover {
    background-color: #5b4a32d0;
    border-color: #5b4a32bc;
}

input:focus-visible {
    outline: none !important;
}

/* Perfiles */

.container-pred {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 15px !important;
    border-radius: 12px;
    min-width: -webkit-fill-available;
}

.all {
    background-color: #5b4a32 !important;
    border: 1px solid #5B4A32 !important;
    color: #fff;
    transition: .2s;
}

.all:hover {
    background-color: #fff !important;
    color: #5B4A32 !important;
}

.profiles .all:hover {
    background-color: #fff;
    color: #5B4A32;
}

.r {
    color: #5B4A32;
    border-bottom: 1px solid #5B4A32;
    border-right: 1px solid #5B4A32;
    border-left: 1px solid #5B4A32;
    transition: .2s;
}

.r:hover {
    background-color: #5B4A32d9;
    color: #fff;
}

.profiles .card {
    border-radius: 12px;
    max-width: 540px;
    padding: 14px;
}

.profiles .card img {
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.profiles .card i {
    color: #737373;
    transition: .2s;
}

.profiles .card:hover i {
    color: #080044;
    text-shadow: 0px 2px 4px rgb(185, 189, 255);
}

/* Tareas */

.header-tasks p {
    font-style: italic;
}

.list-group * {
    padding: 4px !important;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

.list-group-item h3 {
    margin: 10px !important;
}

.btns-task {
    justify-content: center;
    gap: 7px;
}

/* clientes */

.clientes .card {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    font-size: 14px;
    transition: .2s;
}

.clientes .card:hover {
    transform: scale(1.03);
}

.clientes .interesado {
    box-shadow: 5px 5px 20px -7px #0d6efd;
}

.clientes .interesado:hover {
    box-shadow: 5px 5px 25px -3px #0d6efd;
}

.clientes .comprando {
    box-shadow: 5px 5px 20px -7px #198754;
}

.clientes .comprando:hover {
    box-shadow: 5px 5px 25px -3px #198754;
}

.clientes .visita {
    box-shadow: 5px 5px 20px -7px #dc3545;
}

.clientes .visita:hover {
    box-shadow: 5px 5px 25px -3px #dc3545;
}

.clientes .postventa {
    box-shadow: 5px 5px 20px -7px #ffc107;
}

.clientes .postventa:hover {
    box-shadow: 5px 5px 25px -3px #ffc107;
}

/* clientes_lista */


.table th, .table tr {
    font-size: 14px;
}

/* Nav clientes */

.nav-tabs {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.nav-tabs .nav-link {
    color: black;
    margin-right: 15px !important;
}

.nav-tabs .nav-link:hover {
    color: #5B4A32 !important;
}

.nav-tabs

/* edit_cliente */

/* productos */
/* Refuerzo para asegurar que el fondo y sombra se apliquen siempre a las tarjetas de productos */
.container-pred.productos .card,
.productos .vista-cartas .card,
.productos .card {
    transition: .2s !important;
    box-shadow: 5px 5px 20px -7px #a97428 !important;
    background-color: #ffd7a96e !important;
}
.productos .card:hover {
    transform: scale(1.03);
}

.productos .icono:hover {
    opacity: 0.5;
    transition: .2s;
}

.productos img {
    transition: .2s !important;
    box-shadow: 5px 5px 20px -7px #5B4A32;
    height: 120px;
}

.productos .card:hover img {
    box-shadow: 5px 10px 20px -3px #5B4A32;
}

.productos .card:hover .card-title {
    text-shadow: 0px 2px 4px #5b4a328b;
}

.filtros {
    border: 1px solid #5B4A32;
    border-radius: 8px;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.filtros h3 {
    color: #5B4A32;
    border-bottom: 1px solid #5B4A32;
}

/* Añadir producto */

.div-formulario {
    min-width: 500px;
    background-color: white;
    margin: 20px !important;
    padding: 20px !important;
    border-radius: 15px;
}

.div-formulario form {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}

.div-formulario form label {
    margin: 1px !important;
}

/* Mapa */

#mapid {
  height: 80vh;
  border: 3px solid #5B4A32;
  border-radius: 10px;
}

#mapid .leaflet-marker-icon, #mapid .leaflet-marker-shadow {
    margin-left: -12px !important;
    margin-top: -41px !important;
}

/* Medias screen */

@media screen and (max-width: 990px) {

    .table th, .table td {
        font-size: 12px;
        padding: 5px;
    }

}

@media screen and (max-width: 960px) {
    
    .perfil {
        max-width: 550px;
    }

}

@media screen and (max-width: 750px) {
    
    .perfil {
        max-width: 350px;
    }

    .div-barra {
        display: none;
    }

    .navbar {
        display: block !important;
    }

    .table th, .table td {
        font-size: 10px;
        padding: 3px;
    }

}

@media screen and (max-width: 600px) {
    
    .div-formulario {
        min-width: auto;
    }

}

@media screen and (max-width: 560px) {    
        
    .prod_esp .prod_esp_hijo {
        max-width: none;
    }

    .container-main {
        overflow-x: scroll;
    }

}

input {
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}
