body {
  background: #fff0dc;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container-password {
    background: #5B4A32;
    padding: 3rem;
    border-radius: 30px;
    box-shadow: 2px 2px 25px 15px #5b4a32c5;
    border: 3px solid #d8b88b;
    width: 400px;
    margin: auto;
    color: #fff;
}

.btn {
    background-color: #fff !important;
    color: #5B4A32;
    border-color: #5B4A32;
    transition: .3s;
}

.btn:hover {
    background-color: #5B4A32 !important;
    color: #fff;
    border-color: #fff;
}

.container-password h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #ffe5c0;
}

.container-password i {
    font-size: 1rem;
    color: #d8b88bcf;
}

.container-password p {
    font-size: 1rem;
    color: #feefda;
}

.container-password input {
    border: 2px solid #d8b88b87;
    border-radius: 5px;
}