{% extends "base.html" %}
{% load static %}

{% block title %}Mi perfil{% endblock %}

{% block titulo %}Mi perfil{% endblock %}

{% block content %}
<div class="container perfil mt-4 py-4">
    <div class="row">
        <div class="col-md-6 text-center mt-4">
            {% if profile.imagen %}
              <img src="{{ profile.imagen.url }}" class="card-img-top" alt="{{ profile.user.get_full_name }}">
            {% else %}
              <img src="{% static 'img/profile.jpg' %}" alt="Foto de perfil por defecto" width="120">
            {% endif %}
            <h2>Buenas, {{ user.username }}</h2>
        </div>
        <div class="col-md-6 mt-4">
            <h3>Datos:</h3>
            <ul>
                <li><strong>Nombre: </strong>{{ user.first_name }} {{ user.last_name }}</li>
                <li><strong>Email: </strong>{{ user.email }}</li>
                <li><strong>Teléfono: </strong>{{ profile.telefono }}</li>
                <li><strong>Rol/es: </strong>
                  {% if profile.roles.all %}
                    {% for role in profile.roles.all %}
                      {{ role.nombre }}{% if not forloop.last %},
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    Sin rol
                  {% endif %}
                </li>
                <li><strong>Fecha de nacimiento: </strong>
                  {% if profile.fecha_nacimiento %}
                    {{ profile.fecha_nacimiento|date:"d/m/Y" }}
                  {% else %}
                    No registrada
                  {% endif %}
                </li>
            </ul>
            <a href="{% url 'usuarios:edit' %}" class="btn btn-secondary">Editar perfil</a>
            <form action="{% url 'usuarios:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Cerrar sesión</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
