{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block titulo %}Clientes{% endblock %}

{% block content %}
<div class="container-clientes">
    <div class="row">
        <div class="col offset-md-3">
            {% for cliente in clientes %}
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Cliente</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
