{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block titulo %}Clientes{% endblock %}

{% block content %}
<div class="container-pred clientes">
    <div class="row">
        <div class="col-lg-2 col-12">
            <!-- Botón para añadir un cliente -->
            <a href="{% url 'productos:crear_cliente' %}" class="btn btn-primary mt-3">Añadir cliente</a>
            <!-- Filtros -->
            <div class="filtros p-3">
                <h3>Filtros</h3>
                    
                <h4 class="pt-2 pb-2">Comerciales</h4>
                <ul class="list-group pt-1">
                    <a href="{% url 'productos:clientes_lista' %}" class="all list-group-item {% if not comercial %}active{% endif %}">Todos</a>
                    {% for comerc in comerciales %}
                        <a class="r {% if comercial == comerc.nombre %}active{% endif %}" href="{{ comerc.get_absolute_url_list }}">{{ comerc.user.first_name }} {{ comerc.user.last_name }}</a>
                    {% endfor %}
                </ul>

                <h4 class="pt-2 pb-2">Estados</h4>
                <ul class="list-group pt-1">
                    <a href="{% url 'productos:clientes_lista' %}" class="all list-group-item {% if not estado %}active{% endif %}">Todos</a>
                    {% for est in estados %}
                        <a class="r {% if estado.slug == est.slug %}active{% endif %}" href="{{ est.get_absolute_url_list }}">{{ est.nombre }}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-10">
            <!-- Navegación vista -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'productos:clientes' %}">Cartas</a>
                </li>
                <li class="nav-item">
                  <span class="nav-link active">Lista</span>
                </li>
            </ul>
            <!-- Vista Lista -->
            <div class="row vista-lista my-3">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-striped-columns table-hover table-bordered">
                            <caption>
                                Lista clientes
                            </caption>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Comercial</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                    <th>Ciudad</th>
                                    <th>Fecha de contacto</th>
                                    <th>Vía de entrada</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody id="lista_clientes">
                                {% for cliente in clientes %}
                                    <tr class="
                                    {% if cliente.estado.slug == 'interesado' %} interesado table-primary 
                                    {% elif cliente.estado.slug == 'visita' %} visita table-danger
                                    {% elif cliente.estado.slug == 'comprando' %} comprando table-success 
                                    {% elif cliente.estado.slug == 'postventa' %} postventa table-warning 
                                    {% else %} table-secondary {% endif %}
                                    ">
                                        <td>{{ cliente.id_cliente }}</td>
                                        <td>{{ cliente.nombre }}</td>
                                        <td>{{ cliente.comercial }}</td>
                                        <td>{{ cliente.telefono }}</td>
                                        <td>{{ cliente.correo }}</td>
                                        <td>{{ cliente.ciudad }}</td>
                                        <td>{{ cliente.fecha_contacto }}</td>
                                        <td>{{ cliente.via_entrada }}</td>
                                        <td>
                                            <a href="{% url 'productos:edit_cliente' cliente.id_cliente %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-pencil"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
