{% extends "base.html" %}

{% block title %}Editar Cliente{% endblock %}

{% block titulo %}Editar cliente{% endblock %}

{% block content %}
<div class="div-formulario">

    {{ error }}

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
                {{ form.telefono.label_tag }}
                {{ form.telefono }}
                {{ form.correo.label_tag }}
                {{ form.correo }}
                {{ form.ciudad.label_tag }}
                {{ form.ciudad }}
                {{ form.fecha_contacto.label_tag }}
                {{ form.fecha_contacto }}
                {{ form.via_entrada.label_tag }}
                {{ form.via_entrada }}
            </div>
            <div class="col-lg-6">
                {{ form.comercial.label_tag }}
                {{ form.comercial }}
                {{ form.estado.label_tag }}
                {{ form.estado }}
                {{ form.nota.label_tag }}
                {{ form.nota }}
            </div>
        </div>
        <div>
            <button class="btn btn-primary">
                Actualizar
            </button>
            <a href="{% url 'productos:clientes' %}" class="btn btn-secondary">Volver</a>
                    
            <!-- Botón modal para borrar -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Borrar cliente
            </button>

        </div>
    </form>

    <!-- Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Borrar cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro/a?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
                    <form action="{% url 'productos:borrar_cliente' cliente.id_cliente %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Borrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
