{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block titulo %}Clientes{% endblock %}

{% block content %}
<div class="container-pred clientes">
    <div class="row">
        <!-- Filtros -->
        <div class="col-lg-2 col-12">
            
            <a href="{% url 'productos:crear_cliente' %}" class="btn btn-primary mt-3">Añadir cliente</a>

            <h3 class="my-4">Comercial</h3>
            <ul class="list-group pt-1">
                <a href="{% url 'productos:clientes' %}" class="all list-group-item {% if not comercial %}active{% endif %}">Todos</a>
                {% for comerc in comerciales %}
                    <a class="r {% if comercial == comerc.nombre %}active{% endif %}" href="{{ comerc.get_absolute_url }}">{{ comerc.user.first_name }} {{ comerc.user.last_name }}</a>
                {% endfor %}
            </ul>

        </div>
        <div class="col-lg-10">
            <!-- Navegación vista -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <span class="nav-link active" aria-current="page">Cartas</span>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'productos:clientes_lista' %}">Lista</a>
                </li>
            </ul>
            <!-- Vista Cartas -->
            <div class="row text-center vista-cartas">
                {% for cliente in clientes %}
                    <div class="col-lg-4 col-md-6">
                        <a href="{% url 'productos:edit_cliente' cliente.id_cliente %}">
                            <div class="card 
                            {% if cliente.estado.slug == 'interesado' %} interesado border-primary 
                            {% elif cliente.estado.slug == 'visita' %} visita border-danger 
                            {% elif cliente.estado.slug == 'comprando' %} comprando border-success 
                            {% elif cliente.estado.slug == 'postventa' %} postventa border-warning 
                            {% else %} border-secondary {% endif %}
                            ">
                                <div class="card-header">{{ cliente.estado }}</div>
                                <div class="card-body 
                                {% if cliente.estado.slug == 'interesado' %} text-primary 
                                {% elif cliente.estado.slug == 'visita' %} text-danger 
                                {% elif cliente.estado.slug == 'comprando' %} text-success 
                                {% else %} border-secondary {% endif %}
                                ">
                                    <h5 class="card-title {% if cliente.estado.slug == 'postventa' %} text-warning {% endif %} p-1">{{ cliente.nombre }}</h5>
                                    <p class="card-text"><strong>Comercial: </strong>{{ cliente.comercial }}</p>
                                    <p class="card-text"><strong>Tel: </strong>{{ cliente.telefono }}</p>
                                    <p class="card-text"><strong>Correo: </strong>{{ cliente.correo }}</p>
                                    <p class="card-text"><strong>Ciudad: </strong>{{ cliente.ciudad }}</p>
                                    <p class="card-text"><strong>Fecha de contacto: </strong>{{ cliente.fecha_contacto }}</p>
                                    <p class="card-text"><strong>Vía de entrada: </strong>{{ cliente.via_entrada }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
