{% extends "base.html" %}

{% block title %}Editar producto específico{% endblock %}

{% block titulo %}Editar producto específico{% endblock %}

{% block content %}
<div class="div-formulario">
  <form action="{% url 'productos:editar_producto_especifico' prod_esp.id_prod_espe %}" method="post">
      {% csrf_token %}
      <div class="row">
          <div class="col-lg-6">
              {{ form_prod_esp.producto.label_tag }}
              {{ form_prod_esp.producto }}
              {{ form_prod_esp.cliente.label_tag }}
              {{ form_prod_esp.cliente }}
              {{ form_prod_esp.montador.label_tag }}
              {{ form_prod_esp.montador }}
              {{ form_prod_esp.precio.label_tag }}
              {{ form_prod_esp.precio }}
              {{ form_prod_esp.estado.label_tag }}
              {{ form_prod_esp.estado }}
          </div>
          <div class="col-lg-6">
              {{ form_prod_esp.fecha_inicio_montaje.label_tag }}
              {{ form_prod_esp.fecha_inicio_montaje }}
              {{ form_prod_esp.fecha_acabado_montaje_estimado.label_tag }}
              {{ form_prod_esp.fecha_acabado_montaje_estimado }}
              {{ form_prod_esp.fecha_acabado_montaje.label_tag }}
              {{ form_prod_esp.fecha_acabado_montaje }}
              {{ form_ubicacion.latitud.label_tag }}
              {{ form_ubicacion.latitud }}
              {{ form_ubicacion.longitud.label_tag }}
              {{ form_ubicacion.longitud }}
          </div>
          <div>
              <button type="submit" class="btn btn-primary">Actualizar producto específico</button>
              <a href="{% url 'productos:producto_especifico' prod_esp.id_prod_espe %}" class="btn btn-secondary">Volver</a>
          </div>
      </div>
  </form>
</div>
{% endblock %}
